[root@maxscale-deployment-94595444-64tdx /]# cat /etc/maxscale.cnf
[maxscale]
threads=auto
admin_secure_gui=false
admin_enabled=true
config_sync_cluster=monitor
config_sync_user=maxscalemonitor
config_sync_password=monitorpassword

[primary0]
type=server
address="mariadb-primary"
port=3306
protocol=MariaDBBackend

[secondary0]
type=server
address="mariadb-secondary-0"
port=3306
protocol=MariaDBBackend

[secondary1]
type=server
address="mariadb-secondary-1"
port=3306
protocol=MariaDBBackend

[monitor]
type=monitor
module=mariadbmon
servers=primary0,secondary0,secondary1
failcount=2
auto_failover=true
auto_rejoin=true
monitor_interval=500ms
enforce_simple_topology=true
enforce_read_only_slaves=true
user=maxscalemonitor
password=monitorpassword

[RW-service]
type=service
router=readconnroute
servers=primary0,secondary0,secondary1
user=maxscaleservice
password=servicepassword
enable_root_user=true

[RW-listener]
type=listener
service=RW-service
protocol=MariaDBProtocol
port=3306